

/* --------------------CHANGE-PASSWORD--------------------- */

.profile-card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.profile-header img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.profile-header .name {
  font-weight: bold;
  font-size: 16px;
}
.profile-menu a {
  display: flex;
  align-items: center;
  padding: 10px 0;
  color: #333;
  text-decoration: none;
  font-size: 14px;
}
.profile-menu a i {
  margin-right: 10px;
  font-size: 18px;
  width: 20px; /* Ensure icons are aligned */
  text-align: center; /* Center align icons */
}
.profile-menu a:hover {
  text-decoration: none;
}
.profile-menu a:nth-child(1) i {
  color: #007bff;
}
.profile-menu a:nth-child(2) i {
  color: #dc3545;
}
.profile-menu a:nth-child(3) i {
  color: #ff5722;
}
.profile-menu a:nth-child(4) i {
  color: #ff9800;
}
.profile-menu a:nth-child(5) i {
  color: #673ab7;
}
.profile-menu a:nth-child(6) i {
  color: #f44336;
}
.account-container {
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.account-breadcrumb {
  font-size: 14px;
  color: #6c757d;
  margin-bottom: 20px;
}
.account-breadcrumb a {
  color: #6c757d;
  text-decoration: none;
}
.account-breadcrumb a:hover {
  text-decoration: underline;
}
.account-breadcrumb i {
  margin: 0 5px;
}
h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.account-form-group {
  margin-bottom: 10px;
}
.account-form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}
.account-form-group input[type="text"],
.account-form-group input[type="email"],
.account-form-group input[type="file"] {
  width: 50%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}
.account-form-group input[type="file"] {
  padding: 3px;
}
.account-form-group input[type="radio"] {
  margin-right: 5px;
  
}
.account-form-group .radio-group {
  display: flex;
  align-items: center;
}
.account-form-group .radio-group label {
  margin-right: 20px;
  font-weight: normal;
}
.account-form-group .checkbox-group {
  display: flex;
  align-items: center;
}
.account-form-group .checkbox-group input[type="checkbox"] {
  margin-right: 10px;
  height: 5px;
  width: 5px;
}
.account-form-group .checkbox-group label {
  font-weight: normal;
}
.account-form-group .required {
  color: red;
}
.account-form-group .btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.account-form-group .btn:hover {
  background-color: #0056b3;
}
.account-avatar-preview {
  margin-top: 10px;
  max-width: 150px;
  max-height: 150px;
  display: none;
}
.changepassword-container {
  margin: 0 auto;
  padding-top: 50px;
}
.changepassword-form-group {
  margin-bottom: 20px;
}
.changepassword-form-group label {
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
}
.changepassword-form-group label .required {
  color: red;
}
.changepassword-form-group input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.changepassword-notice {
  font-size: 12px;
  color: #666;
  margin-top: -10px;
  margin-bottom: 20px;
}
.changepassword-btn {
  background-color: #4285F4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.changepassword-btn:hover {
  background-color: #357ae8;
}

/* ------------------------------ TOP PICK ------------------------- */
.top-pick .top-pick-item a {
  text-decoration: none;
  color: #333;
  display: inline-block;
  font-weight: 500;
  height: 50px;
}
.top-pick-scroll {
  overflow-x: auto; /* Cho phép cuộn ngang */
  padding-bottom: 10px;

  /* Ẩn thanh cuộn cho tất cả các trình duyệt */
  scrollbar-width: none; /* Ẩn thanh cuộn cho Firefox */
  -ms-overflow-style: none; /* Ẩn thanh cuộn cho Internet Explorer và Edge */
}

.top-pick-scroll::-webkit-scrollbar {
  display: none; /* Ẩn thanh cuộn cho Chrome, Safari và Opera */
}

.top-pick-scroll .row {
  flex-wrap: nowrap; /* Giữ các mục trong một hàng để cuộn */
}

.top-pick-item {
  flex: 0 0 auto; /* Đảm bảo các mục không co lại */
  width: 150px; /* Đặt chiều rộng cố định cho các mục */
}

/* ------------------------------ FOOTER ------------------------- */

.policy-wrapper img {
  width: 64px;
  height: 64px;
}
.policy-wrapper p {
  font-size: 12px;
  color: white;
}
.policy-wrapper b {
  font-size: 15px;
  font-weight: 500;
  color: white;
}
.policy-wrapper {
  border-bottom: #a1a1a1;
}
.footer .footer-logo {
  width: 160px;
  height: 40px;
}
.footer .footer-logo {
  width: 160px;
  height: 40px;
}
.single-page a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
.single-page a:hover {
  color: #ff7300;
}
.single-page .title-single-page {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

/* ------------------------------ RESPONSIVE ------------------------- */

/* Mobile */
@media (max-width: 767px) {
  /* --------- HEADER ----------------- */
  .header-quicklink .position-relative .text-item {
    display: none; /* Ẩn các liên kết nhanh */
  }

  .header-navigation {
    display: none !important; /* Ẩn điều hướng trên header */
  }
  .header-search {
    order: 2; /* Đặt thứ tự tìm kiếm */
  }
  .header-logo {
    order: 3; /* Đặt thứ tự logo */
    display: flex; /* Hiển thị logo */
    justify-content: center; /* Căn giữa logo */
  }
  .header-logo .img-logo {
    width: 80%; /* Đặt chiều rộng logo */
  }
  .header-quicklink {
    order: 4; /* Đặt thứ tự liên kết nhanh */
  }
  .btn-header-navigation-mobile {
    display: block !important; /* Hiển thị nút điều hướng di động */
    background-color: white !important; /* Màu nền nút */
    border: none; /* Xóa viền nút */
  }
  .search-overlay {
    display: none !important;
  }
  .menu-navbar a {
    display: none;
  }
  .header-quicklink i {
    font-size: 16px !important;
  }
  .carousel-inner {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  .carousel-item {
    flex: 0 0 auto;
    width: 80%;
    scroll-snap-align: center;
  }

  /* Ẩn nút điều hướng trên màn hình nhỏ */
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }

  /* Tùy chọn: Tạo khoảng cách giữa các mục */
  .carousel-item .p-3 {
    margin-right: 10px;
  }
  .text-category {
    position: absolute;
    text-decoration: none;
    top: 80%;
    left: 50%;
    width: 80px;
    text-align: center;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 12px;
    background-color: rgba(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
  }
  .order-tracking {
    display: none;
  }
  .cart-mobile
  {
    display: block;
  }
  /* ------------------PRINTERVAL-------------- */
  .printerval .content {
  }
  .printerval .content h2 {
    text-align: center;
  }
  .printerval .content p.print {
    text-align: center;
  }
  p.print-text {
    text-align: center;
  }
  .start-selling {
    border: none;
    background-color: #5441b5;
    font-size: 16px;
    font-weight: 500;
    color: white;
    height: 50px;
    border-radius: 5px;
    display: inline-block;
    width: 180px;
  }

  /* ------------------------------------------- */
  .favorite-btn {
    display: none;
  }
  .content-pc {
    display: none;
  }
  .content-mobile {
    display: block;
  }
  .cart-pc
  {
    display: none;
  }
  .change-password-pc
  {
    display: none;
  }

}

/* Tablet */
@media (min-width: 768px) and (max-width: 1181px) {
  .header-quicklink .position-relative .text-item {
    display: none; /* Ẩn các liên kết nhanh */
  }
  #menu {
    top: 7%; /* Đặt vị trí menu */
    left: 5%;
  }
  .navigation-menu {
    flex-direction: column; /* Xếp theo chiều dọc cho màn hình nhỏ */
  }
  .navigation-box {
    margin: 5px 0; /* Khoảng cách giữa các mục khi xếp dọc */
  }

  .container-navbar {
    overflow-x: scroll;
  }

  /* Change icon direction for dropdown on tablet */
  .navigation-link i {
    display: none; /* Rotates the chevron icon to point right */
  }
  .navigation-link {
    margin: 0 10px; /* Rotates the chevron icon to point right */
  }
  .navigation-box:hover .navigation-content {
    display: none;
  }
  .text-item {
    display: none;
  }
  .order-tracking {
    display: none;
  }
  .btn-customize > span {
    display: none;
  }
  .btn-customize {
    border-radius: 3px;
  }
}

/* -------------------NAVBAR------------------ */
