
/* --------------------CHANGE-PASSWORD--------------------- */

.order-summary {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.order-summary h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.order-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
.order-item:last-child {
  border-bottom: none;
}
.order-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}
.product-details {
  flex: 1;
}
.product-details h2 {
  font-size: 18px;
  margin: 0;
  color: #1a237e;
}
.product-details p {
  margin: 5px 0;
  color: #666;
}
.product-actions {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.product-actions a {
  color: #1a73e8;
  text-decoration: none;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.product-actions a i {
  margin-right: 5px;
}
.pricing-info .discounted-price {
  color: red;
  font-size: 16px;
  font-weight: 500;
}
.pricing-info .full-price {
  text-decoration: line-through;
}
.pricing-info .discounted-price {
  color: red;
  font-size: 16px;
  font-weight: 500;
}
.pricing-info .full-price {
  text-decoration: line-through;
  color: #999;
}
.sub-total-checkout
{
  color: red;
  font-size: 16px;
  font-weight: 500;
}



/* ------------------------------ RESPONSIVE ------------------------- */

/* Mobile */
@media (max-width: 767px) {
  /* --------- HEADER ----------------- */
  .header-quicklink .position-relative .text-item {
    display: none; /* Ẩn các liên kết nhanh */
  }

  .header-navigation {
    display: none !important; /* Ẩn điều hướng trên header */
  }
  .header-search {
    order: 2; /* Đặt thứ tự tìm kiếm */
  }
  .header-logo {
    order: 3; /* Đặt thứ tự logo */
    display: flex; /* Hiển thị logo */
    justify-content: center; /* Căn giữa logo */
  }
  .header-logo .img-logo {
    width: 80%; /* Đặt chiều rộng logo */
  }
  .header-quicklink {
    order: 4; /* Đặt thứ tự liên kết nhanh */
  }
  .btn-header-navigation-mobile {
    display: block !important; /* Hiển thị nút điều hướng di động */
    background-color: white !important; /* Màu nền nút */
    border: none; /* Xóa viền nút */
  }
  .search-overlay {
    display: none !important;
  }
  .menu-navbar a {
    display: none;
  }
  .header-quicklink i {
    font-size: 16px !important;
  }
  .carousel-inner {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  .carousel-item {
    flex: 0 0 auto;
    width: 80%;
    scroll-snap-align: center;
  }

  /* Ẩn nút điều hướng trên màn hình nhỏ */
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }

  /* Tùy chọn: Tạo khoảng cách giữa các mục */
  .carousel-item .p-3 {
    margin-right: 10px;
  }
  .text-category {
    position: absolute;
    text-decoration: none;
    top: 80%;
    left: 50%;
    width: 80px;
    text-align: center;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 12px;
    background-color: rgba(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
  }
  .order-tracking {
    display: none;
  }
  .cart-mobile
  {
    display: block;
  }
  /* ------------------PRINTERVAL-------------- */
  .printerval .content {
  }
  .printerval .content h2 {
    text-align: center;
  }
  .printerval .content p.print {
    text-align: center;
  }
  p.print-text {
    text-align: center;
  }
  .start-selling {
    border: none;
    background-color: #5441b5;
    font-size: 16px;
    font-weight: 500;
    color: white;
    height: 50px;
    border-radius: 5px;
    display: inline-block;
    width: 180px;
  }

  /* ------------------------------------------- */
  .favorite-btn {
    display: none;
  }
  .content-pc {
    display: none;
  }
  .content-mobile {
    display: block;
  }
  .cart-pc
  {
    display: none;
  }
  .change-password-pc
  {
    display: none;
  }

}

/* Tablet */
@media (min-width: 768px) and (max-width: 1181px) {
  .header-quicklink .position-relative .text-item {
    display: none; /* Ẩn các liên kết nhanh */
  }
  #menu {
    top: 7%; /* Đặt vị trí menu */
    left: 5%;
  }
  .navigation-menu {
    flex-direction: column; /* Xếp theo chiều dọc cho màn hình nhỏ */
  }
  .navigation-box {
    margin: 5px 0; /* Khoảng cách giữa các mục khi xếp dọc */
  }

  .container-navbar {
    overflow-x: scroll;
  }

  /* Change icon direction for dropdown on tablet */
  .navigation-link i {
    display: none; /* Rotates the chevron icon to point right */
  }
  .navigation-link {
    margin: 0 10px; /* Rotates the chevron icon to point right */
  }
  .navigation-box:hover .navigation-content {
    display: none;
  }
  .text-item {
    display: none;
  }
  .order-tracking {
    display: none;
  }
  .btn-customize > span {
    display: none;
  }
  .btn-customize {
    border-radius: 3px;
  }
}

/* -------------------NAVBAR------------------ */
