
.container-ordersuccess {
  background-color: #fff;
  padding: 20px 40px;
  margin: 100px 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.container-ordersuccess h1 {
  color: #4caf50;
  font-size: 24px;
  margin-bottom: 20px;
}
.container-ordersuccess p {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}
.container-ordersuccess a {
  display: inline-block;
  margin: 10px 10px;
  padding: 10px 20px;
  color: #fff;
  background-color: #4caf50;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}
.container-ordersuccess a:hover {
  background-color: #45a049;
}
.container-ordersuccess .icon {
  font-size: 50px;
  color: #4caf50;
  margin-bottom: 20px;
}
